* {
    border: 1px solid black;
}

.main {
    display: grid;
    grid-template-columns: max(200px, 15%) auto;
    grid-template-rows: 130px auto;
}

.sidebar {
width: auto;
height: 880px;
border: 2px solid red;
grid-row: 1 / -1;
}

.navbar {

}

.content {
    display: grid;
    grid-template-columns: 5fr 2fr;
}